<section class="login-page">

    <div class="main_div">
        <form action="#">
    
            <label>Name</label> 
            <div class="input_box">
             
              <input type="text" placeholder="Enter your name" required>
            </div>
      
            <label class="email-label">Email</label> 
          <div class="input_box">
           
            <input type="text" placeholder="Enter your email" required>
          </div>
    
          <label class="pwd-label">Password</label>
          <div class="input_box">
            
            <input type="password" placeholder="**********" required>
          </div>
          <div class="input_box button">
            <input type="submit" value="Register">
          </div>
          <div class="sign_up">
            Already have an account? <a href="login">Login</a>
          </div>
        </form>
      </div>
    
    </section>