
<!-- SECTION _HERO SECTION------------------------ -->


<section class="hero" >
<div class="container d-flex">

<div class="left">

<h6><em>Are u hungry ?</em></h6>
<h1 class="">DON'T WAIT !</h1>

<button type="button" class="btn btn-ordernow">Order Now</button>
</div>

<div class="right">
<img src="/images/hero-pizza.png" alt="Hero-Pizza" >
</div>

</div>



</section>


<!--ALL PIZAS SELECTION MENU  -->



<section class="pizza-menu container">

    <h1 class="pizza-menu-heading">All Pizzas</h1>


    <div class="row row-cols-1 row-cols-md-4 menu-cards">
        <div class="col mb-3">
          <div class="card h-100 border-0">
            <img src="/images/pizza.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title-pizza-name">Margherita</h5>
              <h6 class="card-title-pizza-size">Small</h6>
              
              <p class="card-text">&#8377 345<span class="btn-align"><button type="button" class="pizza-add-btn">+  Add</button></span> </p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card h-100 border-0">
            <img src="/images/pizza.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title-pizza-name">Marinara</h5>
              <h6 class="card-title-pizza-size">Large</h6>
              <p class="card-text">&#8377 345 <span class="btn-align"><button type="button" class="pizza-add-btn">+  Add</button></span></p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card h-100 border-0">
            <img src="/images/pizza.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title-pizza-name">Carbonara</h5>
              <h6 class="card-title-pizza-size">Small</h6>
              <p class="card-text">&#8377 345 <span class="btn-align"><button type="button" class="pizza-add-btn">+  Add</button></span></p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card h-100 border-0">
            <img src="/images/pizza.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title-pizza-name">Americana</h5>
              <h6 class="card-title-pizza-size">Medium</h6>
              <p class="card-text"> &#8377 345 <span class="btn-align"><button type="button" class="pizza-add-btn">+  Add</button></span></p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card h-100 border-0">
            <img src="/images/pizza.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title-pizza-name">Paneer Tikka </h5>
              <h6 class="card-title-pizza-size">Large</h6>
              <p class="card-text">&#8377 345 <span class="btn-align"><button type="button" class="pizza-add-btn">+  Add</button></span></p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card h-100 border-0">
            <img src="/images/pizza.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title-pizza-name">Corn & Onion</h5>
              <h6 class="card-title-pizza-size">Small</h6>
              <p class="card-text">&#8377 345 <span class="btn-align"><button type="button" class="pizza-add-btn">+  Add</button></span></p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card h-100 border-0">
            <img src="/images/pizza.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title-pizza-name">Barbeque Chicken</h5>
              <h6 class="card-title-pizza-size">Medium</h6>
              <p class="card-text"> &#8377 345 <span class="btn-align"><button type="button" class="pizza-add-btn">+  Add</button></span></p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card h-100 border-0">
            <img src="/images/pizza.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title-pizza-name">Tomato Cheese</h5>
              <h6 class="card-title-pizza-size">Large</h6>
              <p class="card-text"> &#8377 345 <span class="btn-align"><button type="button" class="pizza-add-btn">+  Add</button></span></p>
            </div>
          </div>
        </div>
      </div>







</section>
