<section class="cart">


   <!-- EMPTY CART________________________________________________ -->


   <!-- <section class="container">
<div class="cart-top">
<h1 class="cart-heading">Cart Empty &#128577</h1>
<div class="cart-para">
<p class="para-1-cart">You probably haven't ordered a pizza yet.
To order a pizza, go to the main page.</p>
</div>
</div>
</section>


<section class="container">

<div class="cart-bottom">

<img src="/images/empty-cart.png" alt="cartimage">

<button type="button" class="btn btn-goback">Go Back</button>

</div>

</section>
 -->



   <!-- FULL CART____________________________________________________ -->

   <div class="container cart-full-page">

      <div class="d-flex part-01-cart-full">

         <img class="image-cart-black" src="/images/cart-black.png" alt="cart-png">

         <h1 class="order-summary-heading">Order Summary</h1>

      </div>

      <div class="d-flex part-02-cart-full row">
         <span class="col">
            <img class="pizza-image-cart-full" src="/images/piz1.jpg" alt="pizza">
         </span>
         <span class="col ">
            <h1 class="pizza-name">Marinara</h1>
            <h2 class="pizza-size">Small</h2>
         </span>
         <span class="col">
            <h1 class="quantity">1Pcs</h1>
         </span>

         <span class="col">
            <h1 class="price">&#8377 345</h1>
         </span>

      </div>


      <div class="part-03-cart-full  ">
         <div class="d-flex Amount" >

         <h1 class="total-amount">Total Amount:</h1>
         <h1 class="total-amount-rs">&#8377 345</h1>

      </div>

         <div class="d-flex form-address">

         <form>
            <div>
                 <input type="text" class="form-control" placeholder="Address">
            </div>

            <!-- <div>
               <button type="button" class="btn btn-ordernow">Order Now</button>
            </div> -->

            <div>
               <button type="button" class="btn btn-ordernow">Login</button>
            </div>

         </div>
         </form>


      </div>


   </div>








</section>